img {
  display: block;
  object-fit: cover;
  width: 100%;
}

a:link {
  text-decoration: none;
}
body {
  color: #001a66;
}

.active-nav-item {
  position: relative;
}
.active-nav-item::after {
  content: "";
  display: block;
  width: 5rem;
  height: 0.2rem;
  background-color: red;
  position: absolute;
  left: calc(50% - 2.5rem);
}

.button-nav {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #fff;
  color: #000;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.img-header {
  padding-top: 4rem;
  width: 80%;
  height: auto;
}

.card-css {
  background-color: #27255a !important ;
  border-radius: 10%;
  border-radius: 15px 50px;
  color: aliceblue;
}

.card-css:hover {
  background-color: transparent !important;
  border: #000 1px solid;
}

.accordion-css {
  background-color: #27255a !important;
}

.accordion-css-header {
  background-color: #27255a !important;
  color: aliceblue;
}

.img-style-testimonial {
  align-items: center;
  border-radius: 50%;
}

.gen_header_css {
  /* margin-top: 5rem; */
  height: 20rem;
  overflow: hidden;
}
.gen_header_container {
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  place-items: center;
  background-color: #27255a;
}
.gen_header_container_bg {
  position: absolute;
  width: 100%;
}

.gen_header_content {
  position: relative;
}



.circle
    {
      
    width:80%;
    height:140px;
    border-radius:50%;
    font-size:20px;
    color:#fff;
    line-height:140px;
    text-align:center;
    background: red;
    }

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: red;
}

.percentage {
  fill: white;
  font-family: sans-serif;
  font-size: 0.35em;
  font-weight: bold;
  text-anchor: middle;
}