img{
    display: block;
    object-fit: cover;
    width: 100%;
}

a:link {
    text-decoration: none;
}
body{
    color: #001a66;
}

.active-nav-item{
    position: relative;
}
.active-nav-item::after{
    content:'';
    display: block;
    width: 4rem;
    height: 0.2rem;
    background-color: red;
    position : absolute;
    left : calc(50% - 2rem);
}

.button-nav{
    display: inline-block;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #fff;
    color: #000;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.img-header{
    padding-top: 4rem;
    width: 80%;
    height: auto;
}


.card-css{
    background-color: #27255a !important ;
    border-radius: 10%;
    border-radius: 15px 50px;
    color: aliceblue;


}

.card-css:hover{
    background-color: transparent !important;
    border: #000 1px solid;
    
}

.accordion-css{
    background-color:  #27255a !important;

}

.accordion-css-header{
    background-color:  #27255a !important;
    color: aliceblue;
}

.img-style-testimonial {
    align-items: center;
    border-radius: 50%;
}